.chart-of-today {
    margin: 5% 0%;
    @include widthItem;
    @include displayItem;

    &__chart {
        overflow-y: scroll;

        &--bla {
            width: 70ch;
            height: 35vh;
        }
    }
}