$backGround_elements: #3B659E;
$borderbox_elements: 20px;

@mixin displayItem($backgroundColor: $backGround_elements, $borderRadius: $borderbox_elements) {
    background-color: $backgroundColor;
    border-radius: $borderRadius;
    box-sizing: border-box;
    padding: 5%;
}

@mixin widthItem($widthItem: 30ch, $marginItem: 5% auto) {
    width: $widthItem;
    margin: $marginItem;
}