.navBar {
    top: 2vh;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 7fr 1.5fr;

    &__form {
        display: flex;
        width: clamp(180px, 100%, 1400px);
        margin: 0 auto;

        @media screen and (min-width: 500px) {
            margin: 0 auto;
            width: clamp(200px, 50%, 1400px);
        }

        input {
            padding: 0% 1.5%;
            width: 100%;
            border-top-left-radius: 0.3em;
            border-bottom-left-radius: 0.3em;
            border: none;
            background-color: rgba(255, 255, 255, 0.733);
            font-family: $buity-fotn;
            font-size: 1.5rem;

            &::placeholder {
                color: rgb(31, 56, 197);
                font-size: 1.5rem;
            }
        }
    }

    &__searchBtn {
        border-top-right-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        background-color: rgba(255, 255, 255, 0.733);
        border: none;
    }

    &__menuBtn {
        margin-top: 1%;
        background: none;
        border: none;
        position: absolute;
        right: 0%;

        img {
            width: 100%;
        }
    }
}

.err {
    width: 100%;
    text-align: center;
    grid-area: 2/1/3/3;
}

.themeBtn {
    width: clamp(50px, 70%, 150px);
    margin: 0% auto;
    border-radius: 0.3rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 500px) {
        width: clamp(50px, 10%, 1400px);
    }
}